---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import Author from '../../components/Author.astro';
import { toTitleCase } from '../../libs/lib';
import ProfileImage from '../../components/ProfileImage.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).filter(p => p.data.hidden !== true);

const authors = await getCollection('authors');
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
                flex-direction: row;

				flex-wrap: wrap;

				gap: 2rem;

				list-style-type: none;

				margin: 0;
				padding: 0;
			}
			ul li {
                display: flex;

				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
                font-size: 1.25rem;
				transition: 0.2s ease;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px 12px 0 0;
			}
			ul li a {
                flex: 1;

				display: flex;
                flex-direction: column;

                border: 1px solid rgb(220, 220, 220);
                border-radius: 12px 12px 0 0;

                background-color: white;

                box-shadow: rgb(200, 200, 200) 1px 1px 10px;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
            .post-details .category {
                color: gray;
                font-size: 1rem;
            }
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}

            .post-details {
                flex: 1;

                display: flex;
                flex-direction: column;

                padding: 1.5rem;
            }
            .post-details p {
                flex: 1;
                color: black;
            }

			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
				}
			}

            .new-post {
                color: white;
                background-color: dodgerblue;

                padding: 0.25rem 0.5rem;

                border-radius: 5px;

                text-decoration: none;

                transition: filter 0.25s;
            }
            .new-post:hover {
                filter: brightness(125%);
            }

            .header {
                display: flex;

                align-items: center;

                gap: 1rem;
            }
		</style>
	</head>
	<body>
		<Header />
		<main>
            <div class="header">
                <h2>Posts</h2>
                <a href="/blog/new" class="new-post">+ New</a>
            </div>
			<section>
				<ul>
					{
						posts.map((post) => {
                            let author = authors.find(a => a.id == post.data.author);
                            if(author === undefined) {
                                author = authors.find(a => a.id == 'anonymous');
                            }

							return <li>
								<a href={`/blog/${post.slug}/`}>
									<img src={post.data.heroImage} alt="" />
                                    <div class="post-details">
                                        <h4 class="title">{post.data.title}</h4>
                                        <span class="category">{toTitleCase(post.data.category)}</span>
                                        <p>{post.data.summary}</p>
                                        <Author id={author!.id} name={author!.data.name} date={post.data.pubDate}></Author>
                                    </div>
								</a>
							</li>
						})
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
