---
import { Image } from 'astro:assets';
import { InfoCardType } from './InfoCard'

import exclaimImage from '../content/images/exclaim.png';

interface Props {
    type: InfoCardType;
}

const { type } = Astro.props;

function getPrimaryColor() {
    switch(type) {
        case InfoCardType.INFO:
            return "dodgerblue";

        case InfoCardType.WARNING:
            return "orange";

        case InfoCardType.CRITICAL:
            return "#ff3c3c";
    }
}

function getSecondaryColor() {
    switch(type) {
        case InfoCardType.INFO:
            return "rgb(0, 24, 56)";

        case InfoCardType.WARNING:
            return "rgb(88, 49, 0)";

        case InfoCardType.CRITICAL:
            return "#700";
    }
}
---

<style>
    .info-card {
        display: flex;
        flex-direction: row;

        margin-bottom: 1rem;
    }

    .info-card .band {
        display: flex; 
        
        align-items: center; 
        justify-content: center; 

        padding: 0.25rem; 
        
        border-radius: 5px 0px 0px 5px;
    }

    .info-card .details {
        flex: 1;

        display: flex; 
        flex-direction: column; 
        
        gap: 0.5rem; 
        
        border-radius: 0px 5px 5px 0px; 
        
        padding: 0.5rem;
    }

    .info-card .details .header {
        display: flex; 
        flex-direction: row; 
        
        align-items: center; 
        
        gap: 0.5rem; 
        
        font-weight: 600
    }

    .info-card .details .body {
        font-size: 0.9rem; 
        color: white;
        text-wrap: wrap;
    }
</style>

<div class="info-card">
    <div class="band" style={`background-color: ${getPrimaryColor()}`}>
    </div>
    <div class="details" style={`border: 1px solid ${getPrimaryColor()}; background-color: ${getSecondaryColor()}`}>
        <div class="header" style={`color: ${getPrimaryColor()}`}>
            <Image src={exclaimImage} width={24} height={24} densities={[1, 2]} alt={type.toString()}></Image>
            <div>{type.toString()}</div>
        </div>
        <div class="body">
            <slot/>
        </div>
    </div>
</div>