---
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Author from '../components/Author.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, summary, pubDate, author, updatedDate, heroImage } = Astro.props;

let postAuthor = await getEntry('authors', author);
if(postAuthor === undefined) {
    postAuthor = await getEntry('authors', 'anonymous');
}
---

<html lang="en">
	<head>
		<BaseHead title={title} description={summary} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
            .title {
                text-align: center;

                margin-bottom: 2rem;
            }
			.header {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}

            .back-button {
                color: white;
                background-color: dodgerblue;

                border-radius: 5px;

                text-decoration: none;

                padding: 0.5rem;
                margin-top: 1rem;
            }
            .back-button:hover {
                filter: brightness(110%);
            }
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image">
					{heroImage && <img src={heroImage} alt="" />}
				</div>

				<div class="prose">
					<div class="header">
                        <div style="display: flex; align-items: center; justify-content: center">
                            <Author name={postAuthor?.data.name} avatar={postAuthor.data.avatar} date={pubDate}></Author>
                        </div>
                        
						<hr />
					</div>
                    <h1 class="title">{title}</h1>
					<slot />
                    <hr/>
                    <a href="/blog" class="back-button">Read more posts..</a>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
